:root {
  --brand-primary: rgb(34, 35, 68);
  --brand-secondary: rgb(233, 18, 7);
  --brand-tertiary: rgb(255, 205, 5);
  --body-gray: rgb(102, 102, 102);
  --white: #fff;

  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
}

* {
  box-sizing: border-box;
}

body {
  padding: var(--space-md);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--brand-primary);
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

p,
span,
body {
  color: var(--body-gray);
  font-family: "Helvetica", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

h1,
.h1 {
  font-size: 44px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  h1,
  .h1 {
    font-size: 72px;
  }
}

h2,
.h2 {
  font-size: 32px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  h2,
  .h2 {
    font-size: 44px;
  }
}

h3,
.h3 {
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  h3,
  .h3 {
    font-size: 32px;
  }
}

p,
.p {
  font-size: 18px;
  color: var(--body-gray);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  background-color: var(--brand-primary);
  border: 2px solid var(--brand-primary);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: var(--space-sm) var(--space-md);
  transition:
    background-color 0.3s,
    color 0.3s;
}

button:hover {
  background-color: white;
  color: var(--brand-primary);
}

button[data-secondary] {
  background-color: white;
  border: 2px solid var(--brand-primary);
  color: var(--brand-primary);
}

button[data-secondary]:hover {
  background-color: var(--brand-primary);
  color: white;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.gap-sm {
  gap: var(--space-sm);
}

.gap-md {
  gap: var(--space-md);
}

.mortgage-products {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

@media screen and (min-width: 768px) {
  .mortgage-products {
    flex-direction: row;
  }
}

.mortgage-product {
  align-items: start;
  border: 2px solid var(--brand-primary);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  padding: var(--space-md);
  transition: transform 0.2s;
}

.mortgage-product:hover {
  transform: translateY(-8px);
}

.tag--blue {
  color: var(--white);
  --color: 34, 35, 68;
}

.tag--yellow {
  --color: 255, 205, 5;
}

.tag--red {
  --color: 233, 18, 7;
}

.tag {
  background-color: rgba(var(--color), 0.6);
  border-radius: 4px;
  padding: var(--space-sm);
}
